@inject HttpClient _httpClient
@inject NavigationManager _navigationManager
@inject IAccessTokenService _accessTokenService

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand bold-text" href="">HRChatBot</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chat/3">
                <span class="oi oi-chat" aria-hidden="true"></span> ChatBot
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : string.Empty;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    private async Task Logout()
    {
        await _accessTokenService.RemoveAccessTokenAsync("jwt_token");
        _navigationManager.NavigateTo("/", true);
    }
}
