<AuthorizeView Roles="general, admin">
    <NotAuthorized>
        <hr class="white-horizontal-line"/>
        <p class="alert alert-primary">
            It looks like your account is not <b>"Activated"</b>.
        </p>
        <hr class="white-horizontal-line"/>
    </NotAuthorized>
</AuthorizeView>
